* {
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box; }

body, html {
  scroll-behavior: smooth; }

.container {
  width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 420px) {
  .container {
    width: 100%;
    padding: 0 10px; } }

@media screen and (min-width: 420px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 10px; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 940px;
    margin: 0 auto; } }

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto; } }

.clearfix:after {
  content: '';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.topbar {
  padding: 10px;
  background: #323742;
  color: #ffffff; }

.topbar a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  padding: 0 12px; }

.topbar .topleft {
  float: left; }

.topbar .topright {
  float: right; }

.topbar .topright .social_icon {
  float: left;
  padding: 0 10px; }

@media screen and (max-width: 768px) {
  .topbar a {
    padding: 0 6px; }
  .topbar .topleft, .topbar .topright {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    text-align: center; }
  .topbar .topleft .social_icon, .topbar .topright .social_icon {
    float: none;
    display: inline-block; } }

.logobar {
  position: relative;
  height: 100px;
  padding: 30px; }

.logobar .logobox {
  text-align: center;
  float: left;
  width: 31%;
  margin-right: 1%;
  margin-left: 1%; }

@media screen and (max-width: 768px) {
  .logobar .logobox {
    float: none;
    width: 100%; } }

.logobar .logo, .logobar .email, .logobar .phone {
  height: 75px;
  overflow: hidden; }

.logobar .logo img, .logobar .email img, .logobar .phone img {
  height: 100%; }

.logobar .logo {
  position: relative;
  bottom: 10px; }

.logobar .email {
  text-align: left;
  color: #9EA2AB; }

.logobar .phone {
  text-align: right;
  color: #9EA2AB; }

.logobar .email, .logobar .phone {
  position: relative; }

.logobar .email .fa-phone, .logobar .email .fa-envelope, .logobar .phone .fa-phone, .logobar .phone .fa-envelope {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.logobar .email i, .logobar .phone i {
  font-size: 14px;
  color: #9EA2AB;
  position: relative;
  top: 41%;
  transform: translateY(-50%); }

@media screen and (max-width: 768px) {
  .logobar {
    height: 250px; }
  .logobar .logo, .logobar .email, .logobar .phone {
    text-align: center; } }

.navbar {
  position: relative;
  padding: 30px;
  margin-top: 30px;
  background: #badc58; }

.navbar .links {
  margin: 0 auto;
  width: 80%; }

.navbar .links a {
  font-family: serif;
  font-size: 14px;
  width: 13.5%;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: inline-block; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar .links a {
    font-size: 12px; } }

.hero {
  background: url("../img/home-1622401_960_720.jpg") center no-repeat;
  background-size: cover;
  height: 58vh;
  margin-bottom: 2.1rem; }

@media screen and (max-width: 768px) {
  .hero {
    height: 35vh; } }

@media screen and (max-width: 992px) {
  .navbtn {
    position: relative;
    float: left;
    width: 20px;
    bottom: 4px;
    cursor: pointer; }
  .navbtn .bars {
    border-bottom: 2px solid #fff;
    height: 7px; }
  .navbar {
    transition: 0.5s ease-in-out; }
  .navbar .links {
    overflow: hidden;
    width: 100%;
    background: #badc58;
    height: 0;
    top: 80px;
    left: 0;
    position: absolute;
    transition: height 0.5s ease-in-out; }
  .navbar .links a {
    width: 150px;
    padding: 10px 0;
    text-align: left;
    position: relative;
    left: 40px;
    display: block; }
  .navbar .show {
    border-top: 2px solid #fff;
    height: 280px !important; } }

.rooms {
  min-height: 600px;
  margin-bottom: 70px; }

.rooms h3 {
  text-transform: capitalize;
  margin-bottom: 15px; }

.rooms h4 {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 100; }

.rooms .info {
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
  margin-bottom: 15px; }

.row {
  width: 32.3%;
  float: left;
  height: 250px; }

.row .img_container {
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px; }

.row .img_container .booknow {
  width: 150px;
  height: 65px;
  position: absolute;
  background: #badc58;
  padding: 15px;
  right: 0;
  bottom: 0px;
  text-align: center; }

.row .img_container .booknow .fa-arrow-alt-circle-right {
  font-size: 25px;
  position: relative;
  bottom: 13px;
  cursor: pointer;
  transition: 0.5s;
  float: right;
  color: #ffffff; }

.row .img_container .booknow p {
  position: relative;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s; }

.row .img_container .booknow p:hover {
  color: #000; }

.row .img_container img {
  height: 100%;
  margin-bottom: 15px;
  width: 100%;
  display: block; }

.row:nth-of-type(2) {
  margin-left: 1.5%;
  margin-right: 1.5%; }

.row .ammenities p {
  display: inline-block;
  padding-left: 15px;
  font-size: 12.5px; }

.row .ammenities .fa-check-square {
  font-size: 13px;
  color: #999999; }

.row .ammenities .check_container {
  padding: 10px 0;
  border-bottom: 1px solid #cccccc; }

@media screen and (max-width: 768px) {
  .row {
    height: 100%;
    width: 100%;
    padding: 0 5px;
    float: none;
    margin-bottom: 10%; }
  .row:nth-of-type(2) {
    margin-left: 0;
    margin-right: 0; }
  .row .img_container .booknow {
    bottom: 15px; } }

.testimonials {
  min-height: 300px; }

.testimonials .feature_box {
  padding: 16px 0;
  border-bottom: 1px solid #cccccc; }

.testimonials .feature_box p {
  display: inline-block;
  padding-left: 6px; }

.testimonials .fa-chevron-circle-up {
  color: #badc58;
  font-size: 30px; }

.testimonials .hotel_features, .testimonials .clients {
  width: 50%;
  float: left;
  padding: 10px;
  cursor: pointer; }

.testimonials .hotel_features h3, .testimonials .clients h3 {
  text-transform: capitalize;
  margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  .testimonials .hotel_features, .testimonials .clients {
    width: 100%;
    float: none;
    margin-bottom: 15px; } }

.testimonials .clients .text_box {
  background: #f9f7f7;
  padding: 20px; }

.testimonials .clients .text_box p {
  font-size: 13px;
  line-height: 1.6; }

.footer {
  padding-top: 20px;
  background: #495059;
  min-height: 200px; }

.footer .box {
  width: 23%;
  float: left; }

.footer .box h3 {
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px; }

.footer .box.hours p {
  font-size: 12px;
  color: #ffffff;
  line-height: 1.9;
  font-weight: lighter; }

.footer .box.hours span {
  font-weight: bold; }

.footer .box form [type=text], .footer .box form [type=email], .footer .box form textarea {
  width: 90%;
  margin-bottom: 8px;
  padding: 5px 12px; }

.footer .box form [type=submit] {
  float: right;
  display: block;
  position: relative;
  right: 25px;
  background: #badc58;
  border: none;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 6px; }

.footer .box .gallery .gallery_row .gallery_box {
  position: relative;
  left: 8px;
  border: 1px solid #fff;
  padding: 10px 4px;
  border-radius: 8px;
  margin-bottom: 25px;
  width: 27%;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
  float: left;
  height: 75px; }

.footer .box .gallery .gallery_row .gallery_box img {
  margin: 0 auto;
  text-align: center;
  height: 55px;
  width: 90%;
  position: relative;
  left: 3px; }

.footer .box .gallery .gallery_row .gallery_box img:hover {
  opacity: 0.7;
  cursor: pointer; }

.footer .box:nth-of-type(2) {
  padding: 0 5px;
  margin-right: 2%;
  margin-left: 2%; }

.footer .box:nth-of-type(3) {
  padding: 0 5px;
  margin-right: 2%;
  margin-left: 2%; }

.footer .box .font_box {
  padding: 4px 0; }

.footer .box .font_box .box_color {
  color: #ffffff;
  font-size: 16px; }

.footer .box .font_box span {
  color: #ffffff;
  font-size: 12px;
  padding-left: 8px; }

@media screen and (max-width: 768px) {
  .footer .box {
    float: none;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff; }
  .footer .box:nth-of-type(2) {
    padding: 0 5px;
    margin-right: 0;
    margin-left: 0; }
  .footer .box:nth-of-type(3) {
    padding: 0 5px;
    margin-right: 0;
    margin-left: 0; }
  .footer .box form [type=text], .footer .box form [type=email], .footer .box form textarea {
    width: 100%; }
  .footer .box form [type=submit] {
    right: 0; }
  .footer .box .gallery_box {
    height: 200px;
    border: 1px solid #fff;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
    float: none; }
  .footer .box .gallery_box img {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    height: 100%;
    position: relative;
    left: 3px; }
  .footer .box .gallery_box img:hover {
    opacity: 0.7;
    cursor: pointer; }
  .footer .box.hours {
    margin-bottom: 15px;
    padding-bottom: 15px; }
  .footer .box.contact {
    border-bottom: none; } }

.footer .copyright {
  margin-top: 60px;
  border-top: 1px solid #fff; }

.footer .copyright p {
  padding-top: 20px;
  color: #ffffff;
  font-size: 12px; }

.footer .copyright .fa-chevron-circle-up {
  font-size: 30px;
  color: #badc58;
  background: #ffffff;
  border-radius: 50%;
  float: right;
  position: relative;
  bottom: 20px;
  cursor: pointer; }
